{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://github.com/nicj20"><img src="{% static 'images/github.svg' %}" alt="..."></a></li>
        <li><a href="https://www.kaggle.com/cardenasnicole2028/code"><img src="{% static 'images/kaggle.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/nicole-cárdenas-jimenez-a92b75246/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->